# Entorno virtual
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local
db.sqlite3

# Variables de entorno
.env

# VS Code
.vscode/

# Archivos temporales
*.log

# Windows
Thumbs.db
Desktop.ini